header {
    display: flex;
    background: rgb(221, 221, 221);
    justify-content: space-around;
    padding: 10px;
    height: 30px;
}

nav {
    display: flex;
    list-style-type: none;
    margin-left: -40px;
}

#searchInput {
    width: 300px;
    margin-right: -100px;
}

nav li {
    margin: 10px;
    text-decoration: none;
}
