main {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 20% 70%;
    /* grid-template-rows: 100%; */
    margin-top: 20px;
    grid-template-areas: 'sideBar mainField';
}

#sideBar {
    grid-area: sideBar;
    width: 100%;
    /* margin: 20px; */
    /* margin-top: 20px; */
    background: rgb(0, 43, 58);
    margin: 0 20px;
    height: max-content;
    padding: 10px;
    border-left: 1px solid black;
}

#mainField {
    grid-area: mainField;
    width: 100%;
    margin: 0 50px;
    height: max-content;
    background: rgb(0, 43, 58);
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}