nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    margin-left: -40px;
}

nav li {
    margin: 10px;
    text-decoration: none;
}

nav a {
    color: rgb(221, 221, 221);
    text-decoration: none;
}