.sorting {
    display: flex;
    justify-content: flex-end;
    color: white;
    flex-wrap: wrap;
}

.sortby {
    align-self: center;
    margin-right: 10px;
}

.sortOption {
    padding: 0 10px;
    width: 120px;
    text-align: center;
}

.sortOrder {
    display: flex;
    justify-content: space-between;
} 

.sortOrder:hover {
    cursor: pointer;
}

.sortOrder span {
    border: 1px solid rgb(94, 94, 94);
    padding: 5px;
    width: 50%;
}

